.margetop {
  margin-top: 100px;
}

.panel {
  background-image: linear-gradient(to top, #b3ffab 0%, #00f2fe 100%);
  margin-bottom: 5px;
  border: none;
  margin-top: 5px;
  border-radius: 20px;
  overflow: hidden;
  height: 20%;
}
.panel-heading {
  background-color: #0f00ff;
  color: white;
  text-align: center;
}
.panel-body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.table {
  text-align: center;
  border: 2px solid #fff;
}
.table > thead > tr {
  padding: 5px;
  height: 10%;
}
.table > thead > tr > th {
  border: none;
  border-right: 1px solid #fff;
  text-align: center;
  padding: 3px;
  margin: 5px 5px;
}
.table > tbody > tr > td {
  padding: 4px;

  border: 1px solid #fff;
}
.button {
  background-color: burlywood;
}
.containerr {
  height: 100%;
  border-radius: 40px;
  width: 100%;
  margin: 5px;
}
#table_here {
  width: 100%;
  max-height: 90%;
  overflow-y: scroll;
}
#table_wrapper {
  overflow: hidden;
  height: 100%;
}
.table_cont {
  height: calc(80% - 15px);
  border-radius: 40px;
  /* overflow-y: scroll; */
}
#table_here::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: transparent;
}

#table_here::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

#table_here::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.table_form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.form_grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5px;
}
button {
  margin-left: 5px;
}
.table {
  width: 90%;
  overflow: scroll;
  margin: auto;
}
#check {
  width: 80%;
}
.delete {
  color: red;
  cursor: pointer;
}

.cont {
  height: 80%;
  width: 90%;
  display: flex;
  align-items: center;
  border-radius: 40px;
  /* background: #d0dae9; */
  box-shadow: -10px -15px 4px 5px rgb(16 12 255 / 30%);
}
.add_form_wrapper {
  height: 100%;
  width: 100%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #d1e7f3;
  border-left: 2px solid #fff;
}
.form_inputs {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-g {
  width: 40%;
  height: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.form-g label {
  font-size: 12px;
}
.form-g input,
select {
  height: 50%;
  width: 90% !important;
  border-radius: 8px;
  border: none;
  /* border: 1px solid #fff; */
  background: #f7f6f5;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
select option {
  color: black;
}
.form-g input,
select:focus {
  outline: none;
}
.sexe {
  display: flex;
}
.radio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}
.button {
  margin-bottom: 20px;
  border: none;
  width: 20%;
  border-radius: 5px;
  height: 10%;
  background: #00f2fe;
  cursor: pointer;
  font-weight: bold;
}
.heading {
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.heading img {
  width: 70%;
  height: 60%;
}
